.vscode/launch.json
.vscode/settings.json
*.pyc
method/coloring/test/
!.gitkeep
utility/test/
method/cnn_attention_area/test/
!.gitkeep
run/
data/model/*
!.gitkeep
data/test/*
!.gitkeep
method/vae_bc_learning/test/*
!.gitkeep
.python-version
data/image/*
method/vae_recombination/test/*
utility/model/test/*
!.gitkeep
origin/
data/lidc/*
data/dataset_lidc/image/*
data/dataset_deep_lung/mhd/*
pandas/_libs/parsers.pyx
data/dataset_deep_lung/data_sample/png/*