.vscode/launch.json
.vscode/settings.json
*.pyc
method/coloring/test/
method/vae_bc_learning/results/
utility/test/
utility/model/
method/cnn_attention_area/test/
!.gitkeep
run/
data/model/*
!.gitkeep
data/test/*
