.vscode/launch.json
.vscode/settings.json
*.pyc
method/coloring/test/
!.gitkeep
utility/test/
method/cnn_attention_area/test/
!.gitkeep
run/
data/model/*
!.gitkeep
data/test/*
!.gitkeep
method/vae_bc_learning/test/*
!.gitkeep
.python-version
data/image/*
method/vae_recombination/test/*
utility/model/test/*
!.gitkeep
method/vae_recombination/test/image_mid_produc.png
